@import "./icon.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .user-select-img img {
    -webkit-filter: brightness(0) saturate(100%) invert(97%) sepia(0%)
      saturate(1050%) hue-rotate(316deg) brightness(98%) contrast(67%);
    filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(1050%)
      hue-rotate(316deg) brightness(98%) contrast(67%);
  }

  .sidenav-button {
    @apply hover:bg-[#3182ed4d] hover:text-[#2f80ed];
  }

  .sidenav-button:hover:nth-child(1) {
    -webkit-filter: brightness(0) saturate(100%) invert(43%) sepia(86%)
      saturate(3020%) hue-rotate(200deg) brightness(99%) contrast(88%);
    filter: brightness(0) saturate(100%) invert(43%) sepia(86%) saturate(3020%)
      hue-rotate(200deg) brightness(99%) contrast(88%);
  }
}
